/* css styles */

/* Change the background color of the navbar */
.navbar {
    background-color: #003D0A !important;
    padding-top: 0px; /* Reduce the top padding */
    padding-bottom: 0px; /* Reduce the bottom padding */
    font-size: 16px;
    margin-bottom: 0px;
}

/* kill the Jolla default top padding */
.quarto-about-jolla {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

/* ensure content never hugs the screen edges */
.quarto-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* force long URLs/lines to break */
.quarto-content li,
.quarto-content a {
  overflow-wrap: anywhere;
  word-break: break-all;
}

@media (max-width: 600px) {
  .quarto-content {
    max-width: 90vw;         /* force a bit of margin on both sides */
    margin-inline: auto;
  }
}